/* Dark mode styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #333; /* Darker container background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    width: 90%; /* 90% of viewport width */
    max-width: 400px; /* Max width of 400px */
}

.player-form {
    margin-top: 20px;
}

.player-input {
    margin-bottom: 10px;
}

label {
    color: #fff; /* Light label text color */
    font-weight: bold;
    margin-right: 5px;
    display: block;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="radio"]:checked + label {
    color: #007bff; /* Radio button label color in dark mode */
}

.question-container {
    margin-top: 20px;
    background-color: #444; /* Darker question container background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.question {
    margin-bottom: 20px;
    color: #fff; /* Light text color */
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 12px 24px;
    background-color: #007bff; /* Button background color in dark mode */
    color: #fff; /* Button text color in dark mode */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Include transform transition */
}

button:hover {
    background-color: #0056b3; /* Button background color on hover in dark mode */
    animation: pulse 0.5s infinite alternate; /* Apply pulse animation on hover */
}

@keyframes pulse {
    to {
        transform: scale(1.05); /* Scale the button by 5% */
    }
}
